<%- include("../partials/header"); %>
<h1> Item </h1>
<hr />
<dl class="row">
    <dt class = "col-sm-2">Title</dt>
    <dd class = "col-sm-10">
        <%= item.title %>
    </dd>
    <dt class = "col-sm-2">Price</dt>
    <dd class = "col-sm-10">
        <%= item.price %>
    </dd>
</dl>
<%- include("../partials/footer"); %>
