<%- include("partials/header"); %>
<div class="landing_bkg">
    <img src="/images/landing_page_bkg.jpg" class="landing_page_img">
    <div id="landing_page_content">
        <h1>NITS Exchange</h1>
        <h5>One Stop Platform for all your exchange</h5>
        <br>
        <p>An exclusive platform for NIT Silchar students to engage in goods exchange within the campus.</p>
        <p>Post an item or check it out later, communicate with the fellow students and be notified of any new activity in real time. </p>
    </div>
</div>

<%- include("partials/footer"); %>