<%- include("../partials/header"); %>
<div class = "jumbotron">
    <div class = container>
        <h1>Users</h1>
    </div>
</div>

<div class = "row">
    <% users.forEach(user=>{ %>
        <div class = "col-md-4 col-sm-6">
            <div class="card" style="margin: 1em">
                <div class="card-body" style="margin: 2em">
                  <h5 class="card-title text-center"><%= user.name %></h5>
                    <div class = "text-center">
                        <a href="/user/<%= user._id%>" class="btn btn-dark btn-sm">Details</a>                    
                    </div>
                </div>
              </div>
        </div>
    <%});%>
</div>
<%- include("../partials/footer"); %>
