#commentForm{
    display: none;
    position: fixed;
    border: 3px solid #f1f1f1;
    z-index: 9;
    top: 20%;
    left: 40%;
    padding: 10px;
    width: 350px;
    height: 200px;
    max-height: 400px;
    box-shadow: 0px 0px 1px 5000px rgba(0,0,0,0.4);
    background: #f1f1f1;
}
#editForm{
    display: none;
    position: fixed;
    border: 3px solid #f1f1f1;
    z-index: 9;
    top: 20%;
    left: 40%;
    padding: 10px;
    width: 350px;
    height: 200px;
    max-height: 400px;
    box-shadow: 0px 0px 1px 5000px rgba(0,0,0,0.4);
    background: #f1f1f1;
}
#inputboxNew{
    overflow: hidden; 
    min-height:60px;
    max-height: 260px;
    width: 300px;
    resize: none;
}
#inputboxEdit{
    overflow: hidden; 
    min-height:60px;
    max-height: 260px;
    width: 300px;
    resize: none;
}


.btn-padding{
    margin: auto 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.carousel-indicators{
    position: absolute;
    right: 0;
}
.carousel-control-next{
    position: absolute;
    right: 0;
}
.relative{
    position: relative;
    width: 400px;
}
.center{
    text-align: center; 
}
.disp-inline{
    display: inline;
}
.font-grey{
    color: #535753;
}
.grey-bkg{
    background-color: #e6e8e6;
}
.hover{
    opacity: 0.8;
}
.hover:hover{
    opacity: 1;
}
.image{
    width: 400px;
    height: 400px;
}
.margin-top{
    margin: 25px 0;
}
.note{
    font-size: 0.8rem;
    font-weight: 300;
}
.flash-message{
    margin-top: 9px;
    padding: 9px;
    padding-left: 15px;
}
.jumbotron{
    margin-top: 9px;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.show-top-margin{
    margin-top: 5em;
}
.show-vr{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}